.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.hide-modal {
    display: none;
}

.modal-dialog {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.746);
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.is-active {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}